flows (3).json
[{"id":"20a7c564.8aec7a","type":"function","z":"4d05ec19.9f8df4","name":"Token","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"re\",msg.payload.re)\nvar apikey=\"Jp4hRmX_Cshk6JfeSPk-lltQrlKVvQkoAWKQ8GxT1FK9\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":380,"wires":[["326fe79c.2d1d28"]]},{"id":"b38f51.800060b","type":"function","z":"4d05ec19.9f8df4","name":"Prediction","func":"var ag = global.get('ag')\nvar se = global.get('se')\nvar bm = global.get('bm')\nvar ch = global.get('ch')\nvar sm = global.get('sm')\nvar re = global.get('re')\nvar token=msg.payload.access_token\nvar instance_id=\"db2e0a76-fad1-4e37-8b42-6bfacd1e7c73\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\",\"sex\",\"bmi\",\"children\",\"smoker\",\"region\"], \"values\": [[ag,se,bm,ch,sm,re]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["759365fd.3fc76c"]]},{"id":"19ab644.1c3e39c","type":"ui_form","z":"4d05ec19.9f8df4","name":"","label":"","group":"19260061.a8819","order":1,"width":0,"height":0,"options":[{"label":"age","value":"ag","type":"number","required":true,"rows":null},{"label":"sex","value":"se","type":"text","required":true,"rows":null},{"label":"bmi","value":"bm","type":"number","required":true,"rows":null},{"label":"children","value":"ch","type":"number","required":true,"rows":null},{"label":"smoker","value":"sm","type":"text","required":true,"rows":null},{"label":"region","value":"re","type":"text","required":true,"rows":null}],"formValue":{"ag":"","se":"","bm":"","ch":"","sm":"","re":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":422.9999952316284,"wires":[["20a7c564.8aec7a"]]},{"id":"8a533b17.69b1e8","type":"ui_text","z":"4d05ec19.9f8df4","group":"19260061.a8819","order":2,"width":0,"height":0,"name":"","label":"charges","format":"{{msg.payload}}","layout":"row-spread","x":807.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"759365fd.3fc76c","type":"http request","z":"4d05ec19.9f8df4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/e696db92-2c82-46e2-af13-098f132f62ac/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["600279e6.f70598","a14653cd.d49e6"]]},{"id":"326fe79c.2d1d28","type":"http request","z":"4d05ec19.9f8df4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":300,"wires":[["b38f51.800060b"]]},{"id":"a14653cd.d49e6","type":"debug","z":"4d05ec19.9f8df4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"600279e6.f70598","type":"function","z":"4d05ec19.9f8df4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":120,"wires":[["8a533b17.69b1e8"]]},{"id":"1d06d7b9.683378","type":"inject","z":"4d05ec19.9f8df4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":320,"wires":[["20a7c564.8aec7a"]]},{"id":"19260061.a8819","type":"ui_group","z":"","name":"Default","tab":"885447b9.66af58","order":1,"disp":true,"width":"6","collapse":false},{"id":"885447b9.66af58","type":"ui_tab","z":"","name":"Health Insurance Cost Predictor","icon":"dashboard","disabled":false,"hidden":false}]